<chat-messages />
<section class="sticky bottom-0 left-0 right-0 p-4">
  <chat-input
    [message]="this.message()"
    (changeMessage)="this.onChangeMessage($event)"
    (detectIncident)="this.detectIncident()"
  />
</section>
<dialog
  #incidentReportFormModal
  id="incidentReportFormModal"
  class="modal modal-bottom sm:modal-middle"
>
  <div class="modal-box">
    @if (this.incidentDraft(); as draft) {
      <incident-report-form
        [draft]="draft"
        (createIncidentReport)="createIncidentReport($event)"
        (closeIncidentReportForm)="closeIncidentReportFormModal()"
      />
    }
    @if (this.incidentDraftIsLoading()) {
      <div class="flex flex-col min-h-96 justify-center items-center gap-2">
        <span class="loading loading-bars loading-xl"></span>
        <span>Generando reporte de incidente</span>
      </div>
    }
  </div>
</dialog>
