<message-list />
<section class="sticky bottom-0 left-0 right-0 p-4">
  <message-composer
    [message]="this.message()"
    (changeMessage)="this.updateMessage($event)"
    (detectIncident)="this.detectIncident()"
  />
</section>
<dialog
  #incidentReportFormDialog
  id="incidentReportFormDialog"
  class="modal modal-bottom sm:modal-middle"
>
  <div class="modal-box">
    @if (this.incidentSuggestion(); as incidentSuggestion) {
      <incident-report-form
        [incidentSuggestion]="incidentSuggestion"
        (createIncidentReport)="createIncidentReport($event)"
        (closeIncidentReportFormDialog)="closeIncidentReportFormDialog()"
      />
    }
    @if (this.incidentSuggestionIsLoading()) {
      <div class="flex flex-col min-h-96 justify-center items-center gap-2">
        <span class="loading loading-bars loading-xl"></span>
        <span>Generando reporte de incidente</span>
      </div>
    }
  </div>
</dialog>
