<div class="modal-box">
  <h3 class="text-lg font-bold">Crear Reporte de Incidente</h3>
  <p>A continuación se muestra la sugerencia para crear un reporte de incidente:</p>
  <p>{{ suggestion().title }}</p>
  <p>{{ suggestion().description }}</p>
  <p>{{ suggestion().severity }}</p>
  <div class="modal-action flex justify-between w-full">
    <button class="btn btn-accent" (click)="createIncidentReport.emit(this.suggestion())">
      Crear
    </button>
    <form method="dialog">
      <button class="btn">Cancelar</button>
    </form>
  </div>
</div>
